In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [3]:
iris=pd.read_csv('IRIS.csv')
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [5]:
iris.shape

(150, 5)

In [6]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
iris.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width         species
count     150.000000   150.000000    150.000000   150.000000             150
unique           NaN          NaN           NaN          NaN               3
top              NaN          NaN           NaN          NaN  Iris-virginica
freq             NaN          NaN           NaN          NaN              50
mean        5.843333     3.054000      3.758667     1.198667             NaN
std         0.828066     0.433594      1.764420     0.763161             NaN
min         4.300000     2.000000      1.000000     0.100000             NaN
25%         5.100000     2.800000      1.600000     0.300000             NaN
50%         5.800000     3.000000      4.350000     1.300000             NaN
75%         6.400000     3.300000      5.100000     1.800000             NaN
max         7.900000     4.400000      6.900000     2.500000             NaN

In [8]:
x=iris.iloc[:,:4]
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
y=iris.iloc[:,-1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: species, dtype: object

In [10]:
x = preprocessing.StandardScaler().fit_transform(x)
x[0:4]

array([[-0.90068117,  1.03205722, -1.3412724 , -1.31297673],
       [-1.14301691, -0.1249576 , -1.3412724 , -1.31297673],
       [-1.38535265,  0.33784833, -1.39813811, -1.31297673],
       [-1.50652052,  0.10644536, -1.2844067 , -1.31297673]])

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state = 1)
y_test.shape

(45,)

In [12]:
knnmodel=KNeighborsClassifier(n_neighbors=3)

In [13]:
knnmodel.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [14]:
y_predict1=knnmodel.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
acc = accuracy_score(y_test,y_predict1)
acc

0.9777777777777777

In [17]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test.values,y_predict1)
cm

array([[14,  0,  0],
       [ 0, 18,  0],
       [ 0,  1, 12]], dtype=int64)

In [18]:
cm1=pd.DataFrame(data=cm,index=['setosa','versicolor','virginica'],columns =['setosa','versicolor','virginica'])
cm1

            setosa  versicolor  virginica
setosa          14           0          0
versicolor       0          18          0
virginica        0           1         12